body {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
}

h1, p {
    color: #333;
}

#container_id {
    height: 400px;
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
}

#spritz_field {
    font-size: 24pt;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 140px;
}
